# Node modules
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Angular build outputs
/dist/
/out-tsc/
/tmp/
/.vscode/

# IDE files
.idea/
*.iml
*.iws
*.ipr
/.angular/cache/

# Environment files
src/environments/environment.prod.ts
src/environments/environment.ts

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Compiled TypeScript files
*.tsbuildinfo

# Cache
/.eslintcache/
/.husky/_/
.npm/
.pnp/
.pnp.js

# Coverage reports
/coverage/

# Test-related
/.karma-test-runner/
/.jest/
