<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
        gap: 16px; /* Adjust the gap between items as needed */
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #e0e0e0; /* Optional: Add border for better visibility */
        border-radius: 8px; /* Optional: Add border radius for rounded corners */
        padding: 16px; /* Optional: Add padding inside each item */
    }
</style>
<app-floating-configurator/>
<div class="card">
    <h3>Datasource Configuration Management</h3>
</div>

<!--BPM-->
<div class="card">
    <h4 class="font-semibold text-xl mb-4">BPM Server Configuration</h4>
    <div class="grid-container">
        <div class="grid-item">
            <!--            //todo : change routing-->
            <a [routerLink]="['/pages/dataconfig/bpmform']"
               class="block h-full hover:bg-gray-100 transition-colors duration-200">
                <div class="grid-item h-full">
                    <div class="rounded-border m-2 p-4 flex flex-col justify-center items-center h-full">
                        <i class="pi pi-plus text-green-500 text-2xl"></i>
                        <p class="mt-4 text-center">Add New Server</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngFor="let server of bpmServers" class="grid-item">
            <div class="m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img src="./assets/images/data-server.png" [alt]="server.serverName"
                             class="w-full max-w-[80px] rounded-border"/>
                    </div>
                </div>
                <div class="mb-4 font-bold">{{ server.serverName }}</div>
                <div class="mb-4 font-medium">{{ server.serverHostName }}:{{ server.serverPort }}</div>
                <div class="flex justify-between items-center">
                    <!--                    <p-button label="Delete" severity="danger" (click)="deleteBPMServer(server.id)"></p-button>-->
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" [style]="{ width: 'auto' }"
                              (click)="openConfirmation()"/>
                    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }"
                              [modal]="true">
                        <div class="flex items-center justify-center">
                            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
                            <span>Are you sure you want to proceed?</span>
                        </div>
                        <ng-template #footer>
                            <p-button label="No" icon="pi pi-times" (click)="closeConfirmation()" text
                                      severity="secondary"/>
                            <p-button label="Yes" icon="pi pi-check" (click)="deleteBPMServer(server.id)"
                                      severity="danger" outlined autofocus/>
                        </ng-template>
                    </p-dialog>
                    <p-button label="Update" (click)="onUpdateBPMServer(server)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ECM-->
<div class="card">
    <h4 class="font-semibold text-xl mb-4">ECM Server Configuration</h4>
    <div class="grid-container">
        <div class="grid-item">
            <!--            //todo : change routing-->
            <a [routerLink]="['/pages/dataconfig/ecmform']"
               class="block h-full hover:bg-gray-100 transition-colors duration-200">
                <div class="grid-item h-full">
                    <div class="rounded-border m-2 p-4 flex flex-col justify-center items-center h-full">
                        <i class="pi pi-plus text-green-500 text-2xl"></i>
                        <p class="mt-4 text-center">Add New Server</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngFor="let server of ecmServers" class="grid-item">
            <div class="m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img src="./assets/images/data-server.png" [alt]="server.serverName"
                             class="w-full max-w-[80px] rounded-border"/>
                    </div>
                </div>
                <div class="mb-4 font-bold">{{ server.serverName }}</div>
                <div class="mb-4 font-medium">{{ server.serverHostName }}:{{ server.serverPort }}</div>
                <div class="flex justify-between items-center">
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" [style]="{ width: 'auto' }"
                              (click)="openConfirmation()"/>
                    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }"
                              [modal]="true">
                        <div class="flex items-center justify-center">
                            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
                            <span>Are you sure you want to proceed?</span>
                        </div>
                        <ng-template #footer>
                            <p-button label="No" icon="pi pi-times" (click)="closeConfirmation()" text
                                      severity="secondary"/>
                            <p-button label="Yes" icon="pi pi-check" (click)="deleteECMServer(server.id)"
                                      severity="danger" outlined autofocus/>
                        </ng-template>
                    </p-dialog>
                    <p-button label="Update" (click)="onUpdateECMServer(server)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--DB-->
<div class="card">
    <h4 class="font-semibold text-xl mb-4">DB Server Configuration</h4>
    <div class="grid-container">
        <div class="grid-item">
            <!--            //todo : change routing-->
            <a [routerLink]="['/pages/dataconfig/dbform']"
               class="block h-full hover:bg-gray-100 transition-colors duration-200">
                <div class="grid-item h-full">
                    <div class="rounded-border m-2 p-4 flex flex-col justify-center items-center h-full">
                        <i class="pi pi-plus text-green-500 text-2xl"></i>
                        <p class="mt-4 text-center">Add New Server</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngFor="let server of dbServers" class="grid-item">
            <div class="m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img src="./assets/images/data-server.png" [alt]="server.serverName"
                             class="w-full max-w-[80px] rounded-border"/>
                    </div>
                </div>
                <div class="mb-4 font-bold">{{ server.serverName }}</div>
                <div class="mb-4 font-medium">{{ server.serverHostName }}:{{ server.serverPort }}</div>
                <div class="flex justify-between items-center">
                    <p-button label="Delete" icon="pi pi-trash" severity="danger" [style]="{ width: 'auto' }"
                              (click)="openConfirmation()"/>
                    <p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }"
                              [modal]="true">
                        <div class="flex items-center justify-center">
                            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
                            <span>Are you sure you want to proceed?</span>
                        </div>
                        <ng-template #footer>
                            <p-button label="No" icon="pi pi-times" (click)="closeConfirmation()" text
                                      severity="secondary"/>
                            <p-button label="Yes" icon="pi pi-check" (click)="deleteDBServer(server.id)"
                                      severity="danger" outlined autofocus/>
                        </ng-template>
                    </p-dialog>
                    <p-button label="Update" (click)="onUpdateDBServer(server)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
